/* ExternalLink */
.externalLink {
  padding: 4px 20px;
}

.externalLink:hover {
  text-decoration: underline;
}

/* Internal Lik */
.internalLink {
  padding: 8px 20px;
  font-weight: 500;

  transition: background-color 300ms;
  position: relative;
}

.internalLink:hover {
  background-color: var(--light-red);
}

/* Active link */
.internalLink.active {
  color: var(--red-1);
}

.internalLink.active::before {
  content: "";

  width: 4px;
  height: 100%;

  background: var(--red-1);
  border-radius: 0 10px 10px 0;

  position: absolute;
  left: 0;
  top: 0;
}