.wrapper {
  padding: 8px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.wrapper h4 {
  width: 100%;
}

.wrapper h4 a {
  display: block;
}

.wrapper h4 a:hover {
  text-decoration: underline;
}
