.wrapper {
  width: 100%;
  background-color: var(--black);
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.wrapper h1 {
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
}