.Field {
  border: none;
  padding: 15px;
  border-radius: 5px;
  outline: none;

  background-color: var(--bg-color-2);
  color: var(--white);
  font-weight: 500;
}

.Field::placeholder {
  font-size: 16px;
  color: var(--light-grey);
  font-weight: 400;
}